@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<header class="homehead">
    <div id="particles-js"></div>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <img class="w-75 mb-2 pt-lg-4 floating" src="/images/gamejam25.webp" />
                    <h1 style="font-family:'Chalk_Mark'">GGJ Barcelona 26</h1>
                    <span class="subheading">Blog oficial per a la Global GameJam BCN @@ UPC</span>
                </div>
                <h1 id="mainCountdown" class="countdown">--:--:--</h1>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var post in Model.posts)
            {
                <div class="post-preview">
                    <a asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">
                        <h2 class="post-title">@post.Title</h2>
                        @if (post.Subtitle != null)
                        {
                            <h3 class="post-subtitle">@post.Subtitle</h3>
                        }
                    </a>
                    <p class="post-meta">
                        Publicat el dia @post.PublishedOn!.Value.Day/@post.PublishedOn!.Value.Month/@post.PublishedOn!.Value.Year
                    </p>
                </div>
                <hr class="my-4" />
            }
            @{
                string? pageNumber;
                try
                {
                    pageNumber = Context.Request.Query["page"] == Microsoft.Extensions.Primitives.StringValues.Empty ? "1" : (int.Parse(Context.Request.Query["page"].First()!) + 1).ToString();
                } catch
                {
                    pageNumber = "1";
                }
            }
            @if (Model.HasNextPage)
            {
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" asp-area="" asp-controller="Home" asp-action="Index" asp-route-page="@pageNumber">Publicacions anteriors →</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    // Minus one because it's monthIndex so january is actually 0
    const mainDate = new Date("@Model.JamStart.ToString("yyyy-MM-ddTHH:mm:ss")").getTime();
</script>

<script src="~/js/particles.js" asp-append-version="true"></script>
<script src="~/js/countdown.js" asp-append-version="true"></script>
